.vscode/**
.vscode-test/**
src/**
out/**
tsconfig.json
esbuild.mjs
**/*.ts
!**/*.d.ts
**/*.map
.gitignore
.eslintignore
.eslintrc*
**/.DS_Store
**/*.vsix
node_modules/**
*.md
!README.md
!CHANGELOG.md
media/icon-1024.png
